<h1>Privacy Policy</h1>
<p><b>Write Speed Calculator may collect and share information like usernames, content, scores etc.</b></p>
<h3>Information we collect</h3>
<p>
We may collect information to provide services to all of our users like scoring system, score ladder etc. 
That information can be stored on remote storage like database servers or cloud servers.
</p>
<h4>Local storage</h4>
<p>We may collect and store information locally on your device. We can do that with cookies or browser local storage.</p>
<h3>How we use information we collect</h3>
<p>
We may use information we collect for showing best scores. This information may include usernames or nicknames or even names 
which you are provided to Write Speed Calculator.
</p>