<h1>Terms and conditions</h1>
<p><b>By using Write Speed Calculator (this application) you agreeing the following terms:</b></p>
<ol>
	<li>You understand that Write Speed Calculator cannot ensure the precision of the calculations.</li>
	<li>
	Write Speed Calculator may change calculation algorithms at any times. 
	Write Speed Calculator may change scoring system or calculations or score displaying methods, at any time.
	</li>
	<li>
	Write Speed Calculator and it's creator/owner has no responsibility over content, published or written by <b>any</b> user, which is using/used Write Speed Calculator (application). 
	Including unlawful content, offensive content, threatening content, libelous content, pornographic content, obscene content or any other objectionable content.
	</li>
</ol>